@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
 
.nocss{
    display: none;
}
.center{
     justify-content: center;
     text-align: center;
}

.working{
    background: rgba(255, 103, 103, 0.616);
    border-radius: 0;
    color: rgb(5, 0, 49);
    text-align: center;
    overflow: hidden;
}


//nav bar style
.nav{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
  
    li {
        float: left;
    }
  
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
//first segment
//animations

$color_1: ("color1": #0B76DB,"color2": #184FF2, "color3": #002285,"color4": #0CC4F9,  "back": white, "text_white":#93E6FE, "text_dark": #00057A );

@keyframes welcome{
    from{
        color:map-get($map:$color_1 , $key:"color4" );
        font-size: 21px;
    }
    to{
        color:map-get($color_1 , "text_dark" );
    }
}
@keyframes welcome_nocol{
    from{
        font-size: 10px;
    }
    to{
    }
}
@keyframes bubbles{
    from{
        padding-top: 10%;
        opacity: 0;
    }
    to{
        padding-top: 0%;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
}
.logo{
    background:url(../assets/photo_2021-02-24_18-04-50.jpg) center 38% no-repeat;
}

.textscollover{
    animation: welcome_nocol 0.95s cubic-bezier(1, 0.33, 0.58, 1);

    padding-top: 40px;
    text-align: center;
    font-size: 43px;
    color: map-get($map:$color_1 , $key:"color4" );
}
.welcome{
    //position: absolute;
    animation: welcome 0.95s cubic-bezier(1, 0.33, 0.58, 1);
    text-align: center;
    top:0;
    //padding-top: 700px;
    color:map-get($color_1 , "text_dark" );
    font-size: 60px;

}
.animate{
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);    
}
.round{
    border-radius: 50%;
}

// styling for all circles outer is for position inner for styling the objects
.outer1{
    position: relative;
    padding-left: 10%;
    overflow: hidden;
}
.round1{
    opacity: 0.2;
    height: 470px;
    width: 470px;
    background-color: map-get($map:$color_1 , $key:"color1" );
}

.outer3{
    position: relative;
    padding-left: 45%;
    margin-top: 10px;
    overflow: hidden;
}
.round3{
    height: 300px;
    width: 600px;
    opacity: 0.4;
    background-color: map-get($map:$color_1 , $key:"color4" );
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.outer4{
    //position: fixed; 
    animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);    
    position: absolute;
    bottom: -60px;
    display: flex;
    justify-content: center;

}
.round4{
    animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);    

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 1%;
    height: 400px;
    width: 400px;
    opacity: 0.9;
    z-index: 3;
    background-color: map-get($map:$color_1 , $key:"color2" );
}


//second segment
$color_2: ("color1": #02FAE0,"color2": #1EA08E, "color3": #00564C,"color4": #003C35,  "back": black, "text_white":#81FFF5, "text_dark": #00057A );
.black{
    background-color: rgb(32, 32, 32);
}
.text2{
    background-color: rgba(255, 255, 255, 0.151);
    text-align: center;
    position: absolute;
    top: 60%;
    left: 7%;
    right: 7%;
    //filter: blur(4px);
    //-webkit-filter: blur(6px);

}
.section2{
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    color: white;
    border-radius: 7px;
    background:url(../assets/33392939.png) center 50% no-repeat;
    overflow: hidden;

}
@for $i from 1 through 8{
    .quadrat#{$i}{
        position: relative;
        align-content: center;
        overflow: hidden;
        $rand:float;
        $rand:(random(5))/10;
        left: percentage($rand);
        bottom: random(140) + 10 +px;
        opacity: (random($limit: 6)/ 10 );
        $rand:(random(210) +100 ) + px;
        height:$rand;
        width:$rand;
        background-color: map-get($color_2, color#{random(4)} );
        filter: blur(4px);
        -webkit-filter: blur(6px);
    }
}




//small devices

@media (max-width:587px), (max-height:900px){

    .textscollover{
        //position: relative; 
        bottom: 5%;
        padding-top: 0px;
        margin-right: auto;
        font-size: 43px;
    }
    .welcome{
        background-color: rgba(255, 255, 255, 0.582);
        border-radius: 4px;

    }
    .outer4{
        position: absolute; 
        top:80%;
        border-radius: 4%;
        bottom: auto;
        

    }
    .round4{
        border-radius: .9px;
        width: auto;
        height: auto;
        opacity: 1;
        z-index: 3;
    }
    .logo{
        background:url(../assets/photo_2021-02-24_18-04-50.jpg) center 70% no-repeat;
    }
    .round3{
        display: none;
    }
    .section2{
        margin-top: 50%;
        top: 125%;
    }
    .text2{
        left: 0;
        right: 0;
    
    }
}
@media (max-height:900px){
    .section2{
        margin-top: 12%;
    }
    .round4{
        position: relative; 

    }
}