@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-weights: ("regular": 400, "medium": 500, "bold": 700);

.working{
    background: rgb(219, 80, 80);
    border-radius: 3%;
    margin-top: 30%;
    color: rgb(0, 56, 19);
}


//nav bar style

.nav{
    background-color: black;
    border-radius: 4.5px;
    align-content: center;
    list-style-type: none;
    overflow: hidden;
    font-size: 30px;
    list-style-type: none;
    padding-top: 0;
    top: 0;
}
.nava{
    color: white;

    text-decoration: none;
    text-align: center;
    
}

//first segment


//animations

$color_1: ("color1": #0B76DB,"color2": #184FF2, "color3": #002285,"color4": #0CC4F9,  "back": white, "text_white":#93E6FE, "text_dark": #00057A );

@keyframes welcome{
    from{
        color:map-get($map:$color_1 , $key:"color4" );
        font-size: 21px;
    }
    to{
        color:map-get($color_1 , "text_dark" );
    }
}
@keyframes welcome_nocol{
    from{
        font-size: 10px;
    }
    to{
    }
}
@keyframes bubbles{
    from{
        padding-top: 10%;
        opacity: 0;
    }
    to{
        padding-top: 0%;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
.logo{
    background:url(../assets/photo_2021-02-24_18-04-50.jpg) center 23% no-repeat;
}

.textscollover{
    animation: welcome_nocol 0.95s cubic-bezier(1, 0.33, 0.58, 1);

    padding-top: 40px;
    text-align: center;
    font-size: 43px;
    color: map-get($map:$color_1 , $key:"color4" );
}
.welcome{
    //position: absolute;
    animation: welcome 0.95s cubic-bezier(1, 0.33, 0.58, 1);
    text-align: center;
    top:0;
    //padding-top: 700px;
    color:map-get($color_1 , "text_dark" );
    font-size: 60px;

}
.animate{
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);    
}
.round{
    border-radius: 50%;
}

// styling for all circles outer is for position inner for styling the objects
.outer1{
    position: relative;
    padding-left: 10%;
    overflow: hidden;
}
.round1{
    opacity: 0.2;
    height: 470px;
    width: 470px;
    background-color: map-get($map:$color_1 , $key:"color1" );
}

.outer3{
    position: relative;
    padding-left: 45%;
    margin-top: 10px;
    overflow: hidden;
}
.round3{
    height: 570px;
    width: 570px;
    opacity: 0.4;
    background-color: map-get($map:$color_1 , $key:"color4" );
}
.outer4{
    //position: fixed; 
    animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);    
    position: absolute;
    bottom: -60px;
    display: flex;
    justify-content: center;

}
.round4{
    animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);    

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 1%;
    height: 400px;
    width: 400px;
    opacity: 0.8;
    background-color: map-get($map:$color_1 , $key:"color2" );

}

//small devices

@media (max-width:587px){
    .textscollover{
        //position: relative; 
        bottom: 5%;
        padding-top: 0px;
        margin-right: auto;
        font-size: 43px;

    }
    .outer4{
        position: absolute; 
        top:80%;
        border-radius: 4%;
        bottom: auto;
    }
    .round4{
        border-radius: 4%;
        width: auto;
        height: auto;
    }
    .logo{
        background:url(../assets/photo_2021-02-24_18-04-50.jpg) center 30% no-repeat;
    }

}

//second segment

.section2{
    background-color: rgb(56, 56, 56);
}