@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.working {
  background: #f18686;
  position: fixed;
  border-radius: 3%;
  bottom: 0px;
  right: 0;
  color: #0b0069;
  text-align: center;
  overflow: hidden;
}

.nav {
  background-color: black;
  border-radius: 4.5px;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style-type: none;
  overflow: hidden;
  font-size: 30px;
  list-style-type: none;
  padding-top: 0;
  top: 0;
}

.nava {
  color: white;
  text-decoration: none;
  text-align: center;
}

@-webkit-keyframes welcome {
  from {
    color: #0CC4F9;
    font-size: 21px;
  }
  to {
    color: #00057A;
  }
}

@keyframes welcome {
  from {
    color: #0CC4F9;
    font-size: 21px;
  }
  to {
    color: #00057A;
  }
}

@-webkit-keyframes welcome_nocol {
  from {
    font-size: 10px;
  }
  to {
  }
}

@keyframes welcome_nocol {
  from {
    font-size: 10px;
  }
  to {
  }
}

@-webkit-keyframes bubbles {
  from {
    padding-top: 10%;
    opacity: 0;
  }
  to {
    padding-top: 0%;
  }
}

@keyframes bubbles {
  from {
    padding-top: 10%;
    opacity: 0;
  }
  to {
    padding-top: 0%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.logo {
  background: url(../assets/photo_2021-02-24_18-04-50.jpg) center 23% no-repeat;
}

.textscollover {
  -webkit-animation: welcome_nocol 0.95s cubic-bezier(1, 0.33, 0.58, 1);
          animation: welcome_nocol 0.95s cubic-bezier(1, 0.33, 0.58, 1);
  padding-top: 40px;
  text-align: center;
  font-size: 43px;
  color: #0CC4F9;
}

.welcome {
  -webkit-animation: welcome 0.95s cubic-bezier(1, 0.33, 0.58, 1);
          animation: welcome 0.95s cubic-bezier(1, 0.33, 0.58, 1);
  text-align: center;
  top: 0;
  color: #00057A;
  font-size: 60px;
}

.animate {
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
  -webkit-animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);
          animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);
}

.round {
  border-radius: 50%;
}

.outer1 {
  position: relative;
  padding-left: 10%;
  overflow: hidden;
}

.round1 {
  opacity: 0.2;
  height: 470px;
  width: 470px;
  background-color: #0B76DB;
}

.outer3 {
  position: relative;
  padding-left: 45%;
  margin-top: 10px;
  overflow: hidden;
}

.round3 {
  height: 570px;
  width: 570px;
  opacity: 0.4;
  background-color: #0CC4F9;
}

.outer4 {
  -webkit-animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);
          animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);
  position: absolute;
  bottom: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.round4 {
  -webkit-animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);
          animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 1%;
  height: 400px;
  width: 400px;
  opacity: 0.8;
  background-color: #184FF2;
}

.black {
  background-color: #202020;
}

.text2 {
  background-color: rgba(255, 255, 255, 0.151);
  text-align: center;
  position: absolute;
  top: 60%;
  left: 7%;
  right: 7%;
}

.section2 {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: white;
  border-radius: 7px;
  background: url(../assets/33392939.png) center 50% no-repeat;
  overflow: hidden;
}

.quadrat1 {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  left: 20%;
  bottom: 106px;
  opacity: 0.4;
  height: 141px;
  width: 141px;
  background-color: #02FAE0;
  filter: blur(4px);
  -webkit-filter: blur(6px);
}

.quadrat2 {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  left: 30%;
  bottom: 147px;
  opacity: 0.2;
  height: 168px;
  width: 168px;
  background-color: #00564C;
  filter: blur(4px);
  -webkit-filter: blur(6px);
}

.quadrat3 {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  left: 50%;
  bottom: 71px;
  opacity: 0.4;
  height: 297px;
  width: 297px;
  background-color: #1EA08E;
  filter: blur(4px);
  -webkit-filter: blur(6px);
}

.quadrat4 {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  left: 10%;
  bottom: 23px;
  opacity: 0.4;
  height: 233px;
  width: 233px;
  background-color: #00564C;
  filter: blur(4px);
  -webkit-filter: blur(6px);
}

.quadrat5 {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  left: 20%;
  bottom: 113px;
  opacity: 0.1;
  height: 127px;
  width: 127px;
  background-color: #003C35;
  filter: blur(4px);
  -webkit-filter: blur(6px);
}

.quadrat6 {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  left: 40%;
  bottom: 103px;
  opacity: 0.5;
  height: 189px;
  width: 189px;
  background-color: #00564C;
  filter: blur(4px);
  -webkit-filter: blur(6px);
}

.quadrat7 {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  left: 30%;
  bottom: 48px;
  opacity: 0.2;
  height: 158px;
  width: 158px;
  background-color: #1EA08E;
  filter: blur(4px);
  -webkit-filter: blur(6px);
}

.quadrat8 {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  left: 40%;
  bottom: 47px;
  opacity: 0.3;
  height: 206px;
  width: 206px;
  background-color: #02FAE0;
  filter: blur(4px);
  -webkit-filter: blur(6px);
}

@media (max-width: 587px) {
  .textscollover {
    bottom: 5%;
    padding-top: 0px;
    margin-right: auto;
    font-size: 43px;
  }
  .welcome {
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 4px;
  }
  .outer4 {
    position: absolute;
    top: 80%;
    border-radius: 4%;
    bottom: auto;
    opacity: 1;
  }
  .round4 {
    border-radius: 4%;
    width: auto;
    height: auto;
  }
  .logo {
    background: url(../assets/photo_2021-02-24_18-04-50.jpg) center 70% no-repeat;
  }
  .round3 {
    display: none;
  }
  .section2 {
    top: 125%;
  }
  .text2 {
    left: 0;
    right: 0;
  }
}
/*# sourceMappingURL=main.css.map */