@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-weights: ("regular": 400, "medium": 500, "bold": 700);

.working{
    background: rgb(219, 80, 80);
    border-radius: 3%;
    margin-top: 30%;
    color: rgb(0, 56, 19);
}


//nav bar style

.nav{
    background-color: black;
    border-radius: 4.5px;
    align-content: center;
    list-style-type: none;
    overflow: hidden;
    font-size: 30px;
    list-style-type: none;
    padding-top: 0;
    top: 0;
}
.nava{
    color: white;

    text-decoration: none;
    text-align: center;
    
}

//first segment


//animations

$color_1: ("color1": #0B76DB,"color2": #184FF2, "color3": #002285,"color4": #0CC4F9,  "back": white, "text_white":#93E6FE, "text_dark": #00057A );

@keyframes welcome{
    from{
        color:map-get($map:$color_1 , $key:"color4" );
        font-size: 21px;
    }
    to{
        color:map-get($color_1 , "text_dark" );
    }
}
@keyframes bubbles{
    from{
        padding-top: 10%;
        opacity: 0;
    }
    to{
        padding-top: 0%;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
.logo{
    background:url(../assets/photo_2021-02-24_18-04-50.jpg) center 18% no-repeat;
}

.textscollover{
    padding-top: 160px;
    text-align: center;
    font-size: 37px;
}
.welcome{
    position: absolute;
    animation: welcome 0.9s cubic-bezier(1, 0.33, 0.58, 1);
    text-align: center;
    top:0;
    padding-top: 700px;
    color:map-get($color_1 , "text_dark" );
    font-size: 60px;

}
.animate{
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);    
}
.round{
    border-radius: 50%;
}

// styling for all circles outer is for position inner for styling the objects
.outer1{
    padding-left: 20%;
    overflow: hidden;
}
.round1{
    opacity: 0.4;
    height: 370px;
    width: 370px;
    background-color: map-get($map:$color_1 , $key:"color1" );
}
.outer2{
    padding-left: 0.1%;
}
.round2{
    background-color: map-get($map:$color_1 , $key:"color2" );
    position: absolute;
    width: 323px;
    height: 323px;
    opacity: 0.7;
}
.outer3{
    padding-left: 45%;
    margin-top: 340px;
    overflow: hidden;
}
.round3{
    height: 400px;
    width: 400px;
    opacity: 0.5;
    background-color: map-get($map:$color_1 , $key:"color3" );
}
.outer4{
    animation: bubbles 0.9s cubic-bezier(1, 0.33, 0.58, 1);    
    position: absolute;
    top: 115%;
}
.round4{
    height: 500px;
    width: 500px;
    opacity: 0.6;
    background-color: map-get($map:$color_1 , $key:"color4" );
}

//small devices

@media (max-width:1000px){
    .round2{
        display: none;
    }
    .round1{
        opacity: 0.2;
        height: 480px;
        width: 480px;    
    }
    .round3{
        opacity: 0.4;
        height: 690px;
        width: 690px;    
    }
    .outer4{
        padding-left: 0%;
    }

}
@media (max-width:587px){
    .textscollover{
        padding-top: 4px;
        margin-right: auto;
        font-size: 43px;

    }
    .outer4{
        top: 140%;
    }
    .round4{
        width: auto;
        height: auto;
        border-radius: 5px;
        overflow: hidden;

    }

}

//second segment

.section2{
    background-color: rgb(56, 56, 56);
}