<%- partial("html_assets/_header") %>
<%- partial("html_assets/_nav") %>
<h1 class="center">OOoOps</h1>
<h2 class="center">This website doesn't exist (yet).</h2> 
<%- partial("html_assets/_working_disclamer.ejs") %>
