<%- partial("html_assets/_header") %>

        <h1>Here I will distribute some information regarding weather sats. Espacially the Noaa ones.</h1>
        <h2>An Api for the latest imagery that I got is under construction.</h2>
<%- partial("html_assets/_footer") %>
